
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


* {
  font-family: "Lato", sans-serif;
}

.customBtn {
  /* Linear gradient from top-left to bottom-right */
  background: linear-gradient(to bottom right, #185401, #00c247); /* blue → green */
  color: white;
}
